* {
    font-family: 'Sunflower', sans-serif !important;
}

/* Nav */
#nav {
  position: absolute;
  display: block;
  top: 2.5em;
  left: 0;
  width: 100%;
  text-align: center;
}

#nav > ul {
display: inline-block;
border-radius: 0.35em;
box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
padding: 0 1.5em 0 1.5em;
}

#nav > ul > li {
display: inline-block;
text-align: center;
padding: 0 1.5em 0 1.5em;
}

#nav > ul > li > ul {
    display: none;
}

#nav > ul > li > a, #nav > ul > li > span {
    display: block;
    color: gray;
    /* color: #eee; */
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    letter-spacing: 0.25em;
    height: 5em;
    line-height: 5em;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    outline: 0;
    border-bottom: none 0 transparent;
}

#nav > ul > li:hover > a {
    color: #fff;
}

#nav > ul > li.active > a, #nav > ul > li.active > span {
    color: #fff;
}

  /* 버튼 */
  #btn {
      /* width: 100px;
      height: 100px;
      border-radius: 50%;
      font-size: 15px;
      text-align: center;
      line-height: 100px; */

      display: inline-block;
      border-radius: 100%;
      width: 4.5em;
      height: 4.5em;
      line-height: 4.5em;
      text-align: center;
      font-size: 1.25em;
      padding: 0;
  }

  .inner {
  -moz-animation: reveal-banner 1s 0.25s ease-in-out;
  -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
  -ms-animation: reveal-banner 1s 0.25s ease-in-out;
  animation: reveal-banner 1s 0.25s ease-in-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: rgba(52, 27, 43, 0.5);
  color: #fff;
  display: inline-block;
  opacity: 0;
  padding: 3em;
  text-align: center;
  }

  header {
      display: inline-block;
      border-bottom: solid 2px; /* 윗 줄 선의 굵기*/
      border-top: solid 2px;
      margin: 0 0 4em 0; /* 아래 글씨와의 간격*/
      padding: 3px 0 3px 0; /* 아래 줄과의 간격 */
      color: white;
  }

  header h1 {
      border-bottom: solid 2px;
      border-top: solid 2px;
      font-size: 2.5em;
      font-weight: 900;
      letter-spacing: 0.2em;
      margin: 6px 0 6px 0; /* 위의 줄과 길이 같게 만들기*/
      /* padding-left: 0.05em; */
      padding: 4px 0 4px 0;
      position: relative;
  }

#arrow01 {
  width: 100%;
  height: 100%;
  text-align: center; 
}

#banner {
  margin-top: 200px;
}

#footer {
  position: static;
  margin-top: 100px;
}